$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

#Concrete-output {
    .block {
        display: inline-block;
        min-width: 55px;
        border: 1px dotted #5A9D6E;
        padding: 5px;
        text-align: center;

        &.daemon {
            font-weight: bold;
            border-color: #55749D; 
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
